$content-padding: 16px;
$logo-margin: 5px;

.app-toolbar {
  color: white !important;
  text-transform: uppercase;
  text-align: center;
  z-index: 10;
  position: relative;
}

.app-title {
  text-align: left;
  font-weight: bold;
}

.app-logo {
  height: 65%;
  padding: 5px;
  margin: $logo-margin $logo-margin $logo-margin 0;
  background: white;
}

.main-content {
  padding-left: $content-padding;
  padding-right: $content-padding;
  padding-bottom: $content-padding;
}