<div class="home-component" fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="20px" *ngIf="activeEmotions && dailyEmotionalStates; else noDataTemplate">
  <div ngClass.gt-sm="large-smiley-list-container" >
    <div class="smiley-list-container" fxLayout="column" fxLayoutGap="15px">
      <h2 class="mat-display-1">Heutige Gefühlslage ({{amountOfEmotions}} Teilnehmer)</h2>
      <ng-container *ngIf="amountOfEmotions === 0; else hasEmotionalStatesTemplate">
        <h3>Heute wurden noch keine Gefühlslagen erfasst</h3>
      </ng-container>
      <ng-template #hasEmotionalStatesTemplate>
        <div class="emoji-container" [style.max-width.px]="emojisMaxWidth" fxLayoutAlign="center" fxLayout="row" fxLayoutGap.xs="{{baseEmojiMargin - 20}}px" fxLayoutGap.sm="{{baseEmojiMargin - 10}}px" fxLayoutGap="{{baseEmojiMargin}}px">
          <div [style.width.%]="relativeSize(emotionalState.count)" *ngFor="let emotionalState of dailyEmotionalStates"
          matTooltip="Stimmen: {{emotionalState.count}} ({{relativeSize(emotionalState.count) | number:'1.0-1'}}%)">
            <emoji-display [emojiCodePoint]="emotionalState.smileyCode"></emoji-display>
          </div>
        </div>
      </ng-template>
      <h2 class="mat-display-1">Wie fühlst Du dich?</h2>
      <div fxfLayout="row wrap" fxLayoutGap="20px">
        <button mat-raised-button class="select-emotion-button" [color]="selectedEmotionId == emotion.id ? 'primary' : 'default'"
        *ngFor="let emotion of activeEmotions" (click)="selectedEmotionId = emotion.id">
          <emoji-display [emojiCodePoint]="emotion.smileyCode"></emoji-display>
        </button>
      </div>

      <div [ngClass.lt-md]="['mobile-comment-and-send-container']" [ngClass.gt-sm]="['comment-and-send-container']" fxLayout="row" fxLayoutGap="20px">
        <mat-form-field fxFlex>
          <input matInput placeholder="Kommentar" (keyup.enter)="sendEmotion()"
            [formControl]="commentFormControl" [(ngModel)]="comment" maxLength="250" [pattern]="pattern">
          <mat-hint align="end">{{comment.length}} / 250</mat-hint>
          <mat-error *ngIf="commentFormControl.hasError('pattern')">
            Bitte keine ungewöhnlichen Zeichen verwenden
          </mat-error>
        </mat-form-field>
        <button mat-fab class="refresh-button" color="accent" [disabled]="canNotSendEmotion" (click)="sendEmotion()">
          <mat-icon aria-label="Senden">send</mat-icon>
        </button>
      </div>
      <footer>
        <a routerLink="administration">Administration</a> | Emoji-Grafiken ermöglich durch <a href="https://twitter.github.io/twemoji/">Twemoji</a> | Umgesetzt von Pascal Honegger
      </footer>
    </div>
  </div>

  <div ngClass.gt-sm="large-comment-list-container">
    <comment-list [comments]="comments"></comment-list>
  </div>
</div>
<ng-template #noDataTemplate>
  <div class="spinner-container" fxLayout="column">
      <mat-spinner></mat-spinner>
  </div>
</ng-template>
