.emotion-view-container {
	width: 80%;
}

.comment-input {
	width: 50%;
}

.select-emotion-button {
	margin-top: 20px;
	padding-top: 16px;
	width: 90px;
	height: 90px;
}

::ng-deep .mat-tooltip {
	font-size: large !important;
}

.chat-history-container {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.chat-history-container > * {
	margin: 5px;
}
