.emotion-view-container {
	width: 400px;
}

.comment-input {
	width: 50%;
}

.select-emotion-button {
	margin-top: 20px;
	padding-top: 16px;
	width: 90px;
	height: 90px;
}

::ng-deep .mat-tooltip {
	font-size: large !important;
}
