<div style="align-items: center" *ngIf="activeEmotions && dailyEmotionalStates; else noDataTemplate" fxLayout="column" fxLayoutGap="20px">
  <h2 class="mat-display-1">Übersicht der heutigen Gefühlslage</h2>
  <ng-container *ngIf="dailyEmotionalStates.length === 0; else hasEmotionalStatesTemplate">
    <h3>Heute wurden noch keine Gefühlslagen erfasst</h3>
  </ng-container>
  <ng-template #hasEmotionalStatesTemplate>
    <div class="emotion-view-container" fxLayoutAlign="center" fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="{{relativeSize(emotion.id)}}%" *ngFor="let emotion of activeEmotionsWithAtLeastOneEntry" [matTooltip]="randomComment(emotion.id)">
        <emoji-display [emojiCodePoint]="emotion.smileyCode"></emoji-display>
      </div>
    </div>
  </ng-template>
  <h2 class="mat-display-1">Wie fühlst Du dich?</h2>
  <div fxfLayout="row wrap" fxLayoutGap="20px">
    <button mat-raised-button class="select-emotion-button" [color]="selectedEmotionId == emotion.id ? 'primary' : 'default'" *ngFor="let emotion of activeEmotions" (click)="selectedEmotionId = emotion.id">
      <emoji-display [emojiCodePoint]="emotion.smileyCode"></emoji-display>
    </button>
  </div>
  <mat-form-field class="comment-input">
    <textarea matInput placeholder="Kommentar" [formControl]="commentFormControl" [(ngModel)]="comment" maxLength="250" [pattern]="pattern"></textarea>
    <mat-hint align="end">{{comment.length}} / 250</mat-hint>
    <mat-error *ngIf="commentFormControl.hasError('pattern')">
      Bitte keine ungewöhnlichen Zeichen verwenden
    </mat-error>
  </mat-form-field>
  <button mat-raised-button [disabled]="commentFormControl.invalid || selectedEmotionId == null || saveBlocked" (click)="sendEmotion()">
    Senden
  </button>
  <footer>
     <a routerLink="administration">Administration</a> | Emoji-Grafiken ermöglich durch <a href="https://twitter.github.io/twemoji/">Twemoji</a> | Umgesetz von Pascal Honegger
  </footer>
</div>
<ng-template #noDataTemplate>
  Lade Daten...
</ng-template>
