$mat-primary-palette: (
    50 : #e0edf3,
    100 : #b3d1e1,
    200 : #80b3cd,
    300 : #4d94b8,
    400 : #267da9,
    500 : #00669a,
    600 : #005e92,
    700 : #005388,
    800 : #00497e,
    900 : #00386c,
    A100 : #9cc6ff,
    A200 : #69a9ff,
    A400 : #368cff,
    A700 : #1c7eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
  );