@import "../constants/variables";

.statistics-container {
	padding-top: $content-margin;
	padding-left: $content-margin;
	padding-right: $content-margin;
	width: 100%;
}

.emoji-tooltip {
	width: 40px;
	margin-top: 5px;
}