<div class="statistics-container" fxLayout="column" fxLayoutGap="20px">
  <div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
        <mat-form-field fxFlex>
            <input matInput [matDatepicker]="fromDatePicker" placeholder="Von"
                  [(ngModel)]="fromDate" disabled>
          <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #fromDatePicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput [matDatepicker]="toDatePicker" placeholder="Bis"
                  [(ngModel)]="toDate" disabled>
          <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #toDatePicker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <button class="refresh-button" mat-icon-button (click)="tryRefreshChart()">
        <mat-icon aria-label="Aktualisieren">refresh</mat-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="isLoadingStatistics; else statisticsTemplate">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-template #statisticsTemplate>
    <div [style.height.px]="350">
      <ngx-charts-bar-vertical-2d
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Datum"
        yAxisLabel="Personen">
        <ng-template #tooltipTemplate let-model="model">
          <h1 class="emoji-tooltip">
            <emoji-display [emojiCodePoint]="getCode(model.name)"></emoji-display>
          </h1>
          <h2>
            {{model.value}}
          </h2>
        </ng-template>
      </ngx-charts-bar-vertical-2d>
    </div>
    <comment-list [fullDate]="true" [comments]="comments"></comment-list>
  </ng-template>
</div>