<div fxLayout="column" fxLayoutGap="20px" [style.width.%]="100">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex>
        <input matInput [matDatepicker]="fromDatePicker" placeholder="Von"
              [(ngModel)]="fromDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #fromDatePicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput [matDatepicker]="toDatePicker" placeholder="Bis"
              [(ngModel)]="toDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #toDatePicker disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="tryRefreshChart()">Aktualisieren</button>
  <div [style.height.px]="300">
      <ngx-charts-line-chart *ngIf="chartData"
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Datum"
        yAxisLabel="Personen">
    </ngx-charts-line-chart>
  </div>
</div>