<div style="align-items: center" fxLayout="column" fxLayoutGap="20px">
  <h2 class="mat-display-1">Administrator Login</h2>
  <mat-form-field>
    <input matInput placeholder="Benutzername" [formControl]="usernameFormControl" [(ngModel)]="username" required minLength="1" maxLength="100" [pattern]="pattern">
    <mat-error *ngIf="usernameFormControl.hasError('pattern')">
      Bitte keine ungewöhnlichen Zeichen verwenden
    </mat-error>
    <mat-error *ngIf="usernameFormControl.hasError('minLength') || usernameFormControl.hasError('maxLength')">
      Bitte einen Benutzernamen zwischen 1 und 100 Zeichen eingeben
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Passwort" type="password" [formControl]="passwordFormControl" [(ngModel)]="password" required minLength="1" maxLength="100">
  </mat-form-field>

  <button mat-raised-button [disabled]="usernameFormControl.invalid || passwordFormControl.invalid" (click)="login()">
    Anmelden
  </button>
</div>
