<canvas #faceCanvas width="250"></canvas>
<p fxLayout="row" style="width: 250px">
	<emoji-display *ngFor="let emoji of fittingEmojis" [emojiCodePoint]="emoji" fxFlex></emoji-display>
</p>
<p>Alter: {{age}}‍ Jahre</p>
<p>Geschlecht: {{genderTranslated}}‍</p>
<p *ngIf="hasGlasses">Brillenart: {{glassesTranslated}}‍</p>
<p *ngIf="hasHairColor">Haarfarbe: {{hairColorsTranslated}}‍</p>
<p *ngIf="isBald">{{baldness | percent}} glatzköpfig</p>
<p>Lächeln: {{smile | percent}}</p>
<p *ngIf="hasEmotions">Gesichtsausdruck: {{emotionsTranslated}}</p>
<p *ngIf="hasBeard">Kinnbart: {{facialHair.beard | percent}}</p>
<p *ngIf="hasMoustache">Schnurrbart: {{facialHair.moustache | percent}}</p>
<p *ngIf="hasSideburns">Kotelettenbart: {{facialHair.sideburns | percent}}</p>
