<mat-tab-group>
  <mat-tab label="Emotionen verwalten">
      <div fxLayout="column" fxLayoutGap="20px" class="mat-tab-content-div">
        <div *ngFor="let emotion of allEmotions" fxLayout="row" fxLayoutGap="20px">
          <emoji-display class="edit-emoji-display" [emojiCodePoint]="emotion.smiley"></emoji-display>
          <button mat-raised-button (click)="invertActive(emotion)">{{ emotion.isActive ? 'Deaktivieren' : 'Aktivieren' }}</button>
          <button mat-raised-button (click)="openSetEmojiDialog(emotion.id)">Smiley ändern</button>
        </div>
        <button mat-raised-button (click)="openNewEmojiDialog()">Emotion hinzufügen</button>
      </div>
  </mat-tab>
  <mat-tab label="Benutzerdaten verwalten">
      <div fxLayout="column" fxLayoutGap="20px" class="mat-tab-content-div">
        <mat-form-field class="input-fill-width">
          <input matInput placeholder="Neuer Benutzername" [formControl]="usernameFormControl" [(ngModel)]="username" required minLength="1" maxLength="100" [pattern]="pattern">
          <mat-error *ngIf="usernameFormControl.hasError('pattern')">
            Bitte keine ungewöhnlichen Zeichen verwenden
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('required') || usernameFormControl.hasError('minLength') || usernameFormControl.hasError('maxLength')">
            Bitte einen Benutzernamen zwischen 1 und 100 Zeichen eingeben
          </mat-error>
        </mat-form-field>
        <button mat-raised-button [disabled]="usernameFormControl.invalid || authService.username === username" (click)="setNewUsername()">
          Neuen Benutzername setzen
        </button>

        <mat-form-field class="input-fill-width">
          <input matInput placeholder="Neues Passwort" type="password" [formControl]="passwordFormControl" [(ngModel)]="password" required minLength="3" maxLength="100">
          <mat-error *ngIf="passwordFormControl.hasError('required') || passwordFormControl.hasError('minLength') || passwordFormControl.hasError('maxLength')">
            Bitte ein Passwort zwischen 3 und 100 Zeichen eingeben
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-fill-width">
          <input matInput placeholder="Passwort wiederholen" type="password" [(ngModel)]="repeatedPassword" required minLength="3" maxLength="100">
        </mat-form-field>
      
        <button mat-raised-button [disabled]="passwordFormControl.invalid" (click)="setNewPassword()">
          Neues Passwort setzen
        </button>

        <button mat-raised-button (click)="logout()">
          Abmelden
        </button>
      </div>
  </mat-tab>
</mat-tab-group>
