<div class="analysis-container" fxLayoutGap="10px" fxLayout="column">
	<img #fullImage [src]="imageDataUrl" (load)="imageLoaded.next()" fxFlexAlign="center"
		ngClass.gt-sm="full-image-gt-sm" ngClass.sm="full-image-sm" ngClass.xs="full-image-xs">
	<ng-container *ngIf="faces; else loadingFacesTemplate">
		<div *ngIf="faces.length === 0">
			Es wurden keine Gesichter gefunden.
			<pre *ngIf="errorMessage">Die Analyse ist fehlgeschlagen: {{errorMessage}}</pre>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="space-around start">
			<mat-card class="face-card" *ngFor="let face of faces">
				<mat-card-content>
					<face-representation [face]="face" [fullImage]="fullImage"></face-representation>
				</mat-card-content>
			</mat-card>
		</div>
	</ng-container>
	<ng-template #loadingFacesTemplate>
		<div fxLayout="row" fxLayoutAlign="center start">
			<mat-spinner></mat-spinner>
		</div>
	</ng-template>
</div>