@import "../constants/variables";

.analysis-container {
	padding-top: $content-margin;
	padding-left: $content-margin;
	padding-right: $content-margin;
}

@mixin image-height($toolbar-height) {
	height: calc(35vh - #{$content-margin} - #{$toolbar-height});
}

.full-image-gt-sm {
	@include image-height($toolbar-height-md-xl)
}

.full-image-sm {
	@include image-height($toolbar-height-sm)
}

.full-image-xs {
	@include image-height($toolbar-height-xs)
}

.face-card {
	margin: 10px;
}